// Theme Colors
$primary-green: #7a9a01;
$dark-olive: #556b2f;
$light-olive: #e6ebcf;
$accent-green: #a3b43d;

// Font Family
$font-family-base: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
  sans-serif;
